@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
header {
  width: 100%;
  background-color: rgba(245, 238, 229, 0.568);
  position: fixed;
  left: 0;
}

header label {
  display: none;
  font-size: 20px;
  padding: 22px;
  border-right: 1px solid #f7c17b;
}

header label:hover {
  cursor: pointer;
}

header .logo_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo, p, .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
}

.carrusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
  top: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.carrusel ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1270px;
  /* max-width: 510px; */
  scroll-behavior: smooth;
}

.carrusel-fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  overflow: auto;
}

.carrusel-fotos img {
  width: 1200px;
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

.carrusel-menu {
  display: none;
}

.carrusel-menu {
  display: block;
}

.carrusel-menu img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
  height: 40px;
  border: 10px solid #685858;
}

@media (max-width: 768px) {
  header {
    position: fixed;
  }
  header label {
    display: block;
  }
  .menu {
    position: fixed;
    width: 70%;
    margin-left: -70%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1000;
  }
  .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu li {
    border-top: 1px solid #ffff;
  }
  #btn-menu:checked ~ .menu {
    margin: 0;
  }
  .cajita {
    width: 100%;
    height: 200px;
  }
  .galeria1 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .carrusel-fotos img {
    width: 500px;
    height: 400px;
  }
  .carrusel-menu {
    display: none;
  }
  .carrusel-menu img {
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 5px solid #797979;
  }
  .carrusel-menu img:hover {
    border: none;
  }
  footer {
    width: 130%;
  }
  footer .contenedor-footer {
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .contactos_s {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "header" "main" "footer";
    max-width: 458px;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  p {
    font-size: 15px;
  }
  .galeria1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

main {
  padding-top: 5rem;
}

.section_index {
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 0px;
  margin-bottom: 60px;
}

.catalogo_1 {
  padding: 50px;
}

.logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 8vw;
  color: #292726;
  font-family: 'Acme', sans-serif;
  padding: 10px;
  text-align: center;
}

.contacto {
  width: 400px;
  background: #c4722ecb;
  padding: 10px;
  margin-top: 5px;
  margin: 10%;
  margin-left: 10%;
  color: #ffffff;
  -webkit-box-shadow: 7px 15px 37px black;
          box-shadow: 7px 15px 37px black;
}

.contacto .botons {
  width: 100%;
  background-color: #292726;
  color: #ffffff;
  border: none;
  padding: 10px;
}

.contactos_s {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
}

.controles {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 16px;
  font-size: 15px;
  background: #ffffff;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.ubicacion {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.galeria1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
}

.img2 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tituloservicio {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(black));
  background: linear-gradient(rgba(255, 255, 255, 0.1), black);
  width: 100%;
  padding: 10px;
}

label {
  color: aliceblue;
  font-size: 20px;
  padding: 15px;
  border-right: 1px #ffffff;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  margin: 0px;
  list-style: none;
  font-family: 'Arima Madurai', cursive;
  font-size: 20px;
}

.menu li {
  border-right: 1px solid #ffffff;
  background: #c4722ecb;
  padding: 7px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu li a {
  padding: 10px 10px;
  display: block;
  text-decoration: none;
}

.menu li:hover {
  background: #db906b;
}

#btn-menu {
  display: none;
}

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.navegacion {
  background: #ffffff8e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  font-family: 'Arima Madurai', cursive;
  left: 0;
  right: 0;
  position: fixed;
  top: 66px;
}

.navegacion ol a {
  list-style: none;
  padding: 10px 60px;
  text-align: center;
  border-radius: 5px;
}

.navegacion a:hover {
  background: #f1ebebe7;
  font-size: 20px;
  color: #920000;
}

.item__servicio {
  position: relative;
}

h1 {
  font-size: 35px;
  color: #292726;
  font-family: 'Arima Madurai', cursive;
}

h2 {
  font-family: 'Quattrocento', serif;
  color: #292726;
}

li {
  list-style: none;
}

a {
  color: #222222;
}

p {
  font-family: 'Quattrocento', serif;
  font-size: 23px;
}

body {
  font-size: 15px;
  color: #361e08;
  background-image: url(../img/index/bosque-poligonal_2880x1800_xtrafondos.com.jpg);
}

footer {
  color: #ffffff;
  width: 100%;
  background: #292726;
  position: absolute;
}

.contenedor-footer {
  width: 100%;
  max-width: 1200px;
  height: 310px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.contenedor-footer h1 {
  color: #ffffff;
}

.contenedor-footer .colum1 {
  max-width: 1000px;
  padding: 40px 0px;
  margin-top: 10px;
}

.contenedor-footer .colum2 {
  max-width: 1000px;
  padding: 40px 0px;
  margin-top: 10px;
}

.row label {
  color: #fff9f9;
}

.row img {
  width: 36px;
  height: 36px;
}

.cajiatmenu {
  width: 400px;
  height: 400px;
  padding: 10px;
}

.cajita {
  width: 100%;
  height: 400px;
  background-image: url(../img/index/INDEX11.png);
  background-size: cover;
  background-repeat: none;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 2fr  1fr;
      grid-template-rows: 1fr 2fr  1fr;
  height: 100vh;
      grid-template-areas: "header header header" "main main main" "footer footer footer";
}

.box1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.box2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
}

.box5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}
/*# sourceMappingURL=main.css.map */