@import "./partials/header";
@import "./partials/variables";
@import "./partials/mapas";
@import "./partials/extend";
@import "./partials/carrousel";
@import "./partials/mediaQuerys";


@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap'); 


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

main{
   padding-top: 5rem; 
}

.section_index{

margin-left: 90px;
   margin-right: 90px;
   margin-top: 0px;
   margin-bottom: 60px;

}

.catalogo_1{
    padding: 50px;
}

.logo{
     @extend %flex;
     justify-content: center;
    font-size: 8vw;
    color:white;
    font-family: 'Francois One', sans-serif;
   
    text-align: center;
    background: rgb(39, 39, 39);
    max-width: 100%;
}

.contacto{
    width: 400px;
   
    background: $naranja;
    padding: 10px;
    margin-top:5px;
   
    margin: 10%;
    margin-left: 10%;
    color: $blanco;
    box-shadow: 7px 15px 37px rgb(0, 0, 0);
    .botons{
        width: 100%;
        background-color: $plomo;
        color: $blanco;
        border: none;
        padding: 10px;
        
    
    }

    
}

.contactos_s{

align-items: center;
display: -webkit-box;
}

.controles{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    font-size: map-get($display, tamaño-fuente2);
    background: $blanco;
    color: $blanco;
    border: 1px solid $blanco;
    
}

.ubicacion{
    padding: 10px;
    margin-top:40px;

  margin-bottom: 20px;
}


.galeria1{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-auto-rows: 150px;
padding: 20px;
grid-gap: 10px;

}

.img2{
width: 100%;
height: 100%;
object-fit: cover;
}

.tituloservicio{
position: absolute;
bottom: 0;
color: $blanco ;
background: linear-gradient(rgba(255,255,255,0.1),rgba(0,0,0,1));
width: 100%;
padding: 10px;
}


label{
    color:aliceblue;
   
   font-size: 20px;
   padding: 15px;
  border-right: 1px $blanco;
}


.menu{
    
    ul{
       @include flexx(flex, flex-end, none,0px);
        list-style: none; 
        font-family: 'Arima Madurai', cursive;
        font-size: 20px;
      
    }

    li{
        border-right: 1px solid $blanco;
        background: $naranja;
        padding: 7px;
     
        text-align:center;
        flex-grow: 1;
          a{
            padding: 10px 10px;
            display: block;
            text-decoration: none;
        }
       
    }
 li:hover{
            background: #db906b;
          
           }
    
}
#btn-menu{
    display: none;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }



.item__servicio{
    position: relative;
 }



h1{
    font-size: map-get($display, tamaño-fuente1);
   color: $plomo ;
   font-family: 'Arima Madurai', cursive;
}
h2{
    font-family: 'Quattrocento', serif;
    color: $plomo ;
}


li {
  
    list-style: none;
   
 
}

a{
     
    color: #222222;
    
}
p{
    font-family: 'Quattrocento', serif;
    font-size: 23px;
    @extend %flex;
    
}

body{
font-size: map-get($display, tamaño-fuente2);
color: #361e08 ;
min-height: 100vh;
margin:0;
background-color: rgb(233, 233, 233);
background-size: cover;
background-position: center;
background-attachment: fixed;
}


.img_ini{
  img{
      width: 100%;
    max-width: 100%;
  }
}

.img_inferior{
   
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
   .img_uni{
       img{
     
        margin:5%; 
        width: 400px;
        height: 300px;
        max-width: 80%;
         border:1px solid $verde;    
    }

    a{
        display: none;
   position:relative;
        left: 20px;
        top:-80px;
   background: #222222d0;
        width: 80%;
        padding: 5%;
        color: white;

    }

    
   }

 
}

.img_uni:hover a{
display: block;

    }   


footer{
    color:$blanco;
    width: 100%;
    background: $plomo;
    position: absolute;

}

.contenedor-footer{
    
width: 100%;
max-width: 1200px;
height: 310px;

margin: auto;
display: grid;
grid-template-columns: repeat(2,1fr);
h1{
    color: $blanco;
}
.colum1{
    max-width: 1000px;
     padding: 40px 0px;
     margin-top: 10px;

}
.colum2{
    max-width: 1000px;
     padding: 40px 0px;
     margin-top: 10px;

}
}


.row{
    label{
        color: #fff9f9;
    }
    @extend %flex;
    img{
        width: 36px;
        height: 36px;
        }
}


.cajiatmenu{
    width: 400px;
    height: 400px;
    padding: 10px;
    
  
}

.cajita{
   width: 100%;
    height: 400px;

background-image: url(../img/index/INDEX11.png);
background-size: cover;
background-repeat: none;

}



.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 2fr  1fr ;
    height: 100vh;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";

}

.box1{

grid-area: header;


}

.box2{


grid-area: main;


}


.box5{

grid-area: footer;

}



