.carrusel {
    display: flex;
    gap: 10px;
    justify-content: center;
 
    object-fit: contain;

    ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
    /* max-width: 510px; */
    scroll-behavior: smooth;
  }
  
  }
   

  .carrusel-fotos {
    display: flex;
   
    overflow: auto;

    img {
   
    width: 1200px;
    height: 500px;
    object-fit: contain;
  }
    
  } 
 


  