
header{
     width: 100%;
    background-color: rgba(245, 238, 229, 0.568);
   position: fixed;
   left: 0;
  
       label{
        display: none;
        font-size: 20px;
        padding: 22px;
        border-right: 1px solid rgb(247, 193, 123);
        
}


label:hover{
    cursor: pointer;
    
}

.logo_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   
}
