$plomo: #292726 ;
$blanco: #ffffff;
$naranja: #c4722ecb;
$verde:#361e08 ;

@mixin flexx($display, $horizontal, $vertical, $margen){
display: $display;
justify-content: $horizontal;
align-items: $vertical;
margin: $margen;
}